{
  "extends": [ "axway/env-node", "axway/+mocha"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "script",
    "rulse": {
      "no-empty": ["error", { "allowEmptyCatch": true }]
    },
  },
  "overrides": [
    {
      "files": [ "dangerfile.js" ],
      "parserOptions": {
        "ecmaVersion": 2017,
        "sourceType": "module"
      }
    }
  ]
}
